@use '../helpers/fontFamily' as ff;
@use '../helpers/variables' as v;
@use '../helpers/mixins' as m;

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  &__box {
    overflow: hidden;
    height: 600px;

    @include m.ipad {
      height: 23.6rem;
    }
  }
  .box--1 {
    @include m.flexBox(center, start, column);
    padding: 0 7rem;

    @include m.ipad {
      padding: 0 2rem;
    }

    h1 {
      font-size: 2.5rem;

      @include m.ipad {
        font-size: 2rem;
      }
    }

    p {
      color: v.$dark-grayish-blue;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      margin-top: 2rem;

      @include m.ipad {
        font-size: 0.8rem;
      }
    }

    button {
      margin-top: 3rem;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: -6px;
        right: 0;
        bottom: 0;
        height: 10px;
        width: 140px;
        background-color: v.$yellow;
        opacity: 0.7;
        border-radius: 20px;
        transform: scaleX(0);
      }

      &:hover::after,
      &:focus::after {
        transform: scaleX(1);
      }
    }
  }
}

.box--2,
.box--3,
.box--5,
.box--6 {
  @include m.backgroundCenter();
}
.box--2 {
  background-image: url('../public/images/desktop/image-transform.jpg');
}
.box--3 {
  background-image: url(/public/images/desktop/image-stand-out.jpg);
}
.box--4 {
  @include m.flexBox(center, start, column);
  padding: 0 160px 0 100px;

  @include m.ipad {
    padding: 0 2rem;
  }

  h1 {
    font-size: 2.3rem;

    @include m.ipad {
      font-size: 2rem;
    }
  }

  p {
    color: v.$dark-grayish-blue;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 2rem;

    @include m.ipad {
      font-size: 0.8rem;
    }
  }

  button {
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: -6px;
      right: 0;
      bottom: 0;
      height: 10px;
      width: 140px;
      background-color: v.$soft-red;
      opacity: 0.7;
      border-radius: 20px;
      transform: scaleX(0);
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }
  }
}
.box--5 {
  background-image: url(/public/images/desktop/image-graphic-design.jpg);
  text-align: center;
  display: flex;
  padding: 0 170px;

  @include m.ipad {
    padding: 0 2rem;
  }

  &-desc {
    margin: auto;
    transform: translateY(150px);
    line-height: 1.6;
    color: v.$dark-desaturated-cyan;

    @include m.ipad {
      transform: translateY(100px);
    }

    h1 {
      margin-bottom: 30px;

      @include m.ipad {
        margin-bottom: 20px;
      }
    }

    p {
      font-weight: 600;

      @include m.ipad {
        font-size: 0.8rem;
      }
    }
  }
}
.box--6 {
  background-image: url(/public/images/desktop/image-photography.jpg);
  text-align: center;
  display: flex;
  padding: 0 170px;

  @include m.ipad {
    padding: 0 2rem;
  }

  &-desc {
    margin: auto;
    transform: translateY(150px);
    color: v.$dark-blue;
    line-height: 1.6;

    @include m.ipad {
      transform: translateY(100px);
    }

    h1 {
      margin-bottom: 30px;
      @include m.ipad {
        margin-bottom: 20px;
      }
    }

    p {
      font-weight: 600;
      @include m.ipad {
        font-size: 0.8rem;
      }
    }
  }
}
